{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Scroll Talk</title>
    <link rel="stylesheet" href="{% static 'css/dashlite.css' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'css/theme.css' %}">
    <script src="{% static 'js/htmx.min.js' %}"></script>
</head>
        <body class="nk-body bg-lighter npc-general has-sidebar">
        {% block content %}

        {% endblock %}


<script src="{% static 'js/bundle.js' %}"></script>

    <script src="{% static 'js/apps/chats.js' %}"></script>


<script>
    function ClearText() {
            document.getElementById('default-textarea').value = '';
    }

    var check = true;
    var check2 = true;
</script>


        </body>
</html>